@import "tailwindcss";

/* Use class-based dark mode across the app */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: SFBold;
    src: url("../src/assets/fonts/SF-Pro-Display-Bold.otf");
  }

@font-face {
    font-family: SF;
    src: url("../src/assets/fonts/SF-Pro-Display-Regular.otf");
  }
 
@font-face {
    font-family: SFItalic;
    src: url("../src/assets/fonts/SF-Pro-Text-RegularItalic.otf");
  }
  @font-face {
    font-family: SFBoltItalic;
    src: url("../src/assets/fonts/SF-Pro-Display-BoldItalic.otf");
  }





@theme{
    --font-SFBold: SFBold, "sans-serif";
    --font-SF: SF, "sans-serif";
    --font-SFItalic: SFItalic, "sans-serif";
    --font-SFBoltItalic: SFBoltItalic, "sans-serif";
    --color-marron: #b8860b;
    --color-beige1: #f5f1eb;
    --color-beige2: #e8ddd4;
    --color-degrade: linear-gradient(90deg, rgba(164,115,0,0.15) 0%, rgba(164,115,0,0.10) 50%, rgba(164,115,0,0.20) 100%);
    --color-degrade-marron: linear-gradient(70deg, rgba(255,149,0,0.69) 0%, rgba(153,89,0,0.69) 100%);
    
}

/* Classe utilitaire pour utiliser le dégradé */
.bg-degrade {
    background: var(--color-degrade);
}

.bg-degrade-marron {
    background: var(--color-degrade-marron);
}

.border-degrade-marron {
    border-image: var(--color-degrade-marron);
    border-image-slice: 1;
}


